table {
  font-family:"Courier New", Courier, monospace; font-size:80%;
  border-collapse: collapse;
  border: 1px solid black;
  margin-right: auto;
  margin-left: auto;
  min-width: 75%
}

th {
  background-color: #137752;
  color: white;
}

th, td {
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid black;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
}

.toc ul,
.toc ol {
  margin-top: 1em;
  display: list-item; list-style: none
}

table caption {
  caption-side: bottom;
  text-align: left;
  margin-top: 1em;
}

.site-title {
  font-weight: bold;
}
.article-header {
  font-family: arvo;
}
.article-header h1 {
  font-weight: bold;
}
.article-header h2 {
  font-style: italic;
  font-weight: bold;
}
