table {
  font-family:"Courier New", Courier, monospace; font-size:80%;
  border-collapse: collapse;
  border: 1px solid black;
  margin-right: auto;
  margin-left: auto;
  min-width: 75%
}

th {
  background-color: #137752;
  color: white;
}

th, td {
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid black;
}

img[alt=bens21] {
  width: 75% ;
  margin-left: auto;
  margin-right: auto;
}

img[alt=cvCal] {
  width: 75% ;
  margin-left: auto;
  margin-right: auto;
}

img[alt=bands]{
  width: 75% ;
  margin-left: auto;
  margin-right: auto;
}

img[alt=dataprocess]{
  width: 75% ;
  margin-left: auto;
  margin-right: auto;
}
